#tsp-canvas
{
	border: 2px solid black;
	border-radius: 3px;
	position: absolute;
	top: 15px;
	right: 15px;
}

#settings
{
	font-family: 'Lato', sans-serif;
	border: 1px solid black;
	float: left;
	padding: 10px;
	top: 15px;
	left: 15px;
	position: absolute;
	border-radius: 2px;
}

#solve
{
	background-color: #2E5894;
	border: none;
	padding: 5px 7px 5px 7px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: white;
	border-radius: 1px;
	width: 100px;
}

table
{
	margin-left: 15px;
	margin-top: 15px;
	padding-top: 10px;
}

td
{
	padding: 5px;
}